{% extends "base.html" %}
{% block title %}Announcement - Carepoint{% endblock %}
{% block content %}
<section id="announcement">
<section id="announcement">

    <h1 style="text-align: center;">Announcement</h1>
    
</section>
    <div id="card"> <p>vycvuwuvcu</p></div>

    <h1>Our Services</h1>
    <p>Comprehensive healthcare solutions tailored to your needs.</p>
</section>
<section id="announcement">
    <div id="card"> <p>vycvuwuvcu</p></div>

    <h1>Our Services</h1>
    <p>Comprehensive healthcare solutions tailored to your needs.</p>
</section>
<section id="announcement">
    <div id="card"> <p>vycvuwuvcu</p></div>

    <h1>Our Services</h1>
    <p>Comprehensive healthcare solutions tailored to your needs.</p>
</section>
<section id="announcement">
    <div id="card"> <p>vycvuwuvcu</p></div>

    <h1>Our Services</h1>
    <p>Comprehensive healthcare solutions tailored to your needs.</p>
</section>

{% endblock %}

