{% extends "base.html" %}

{% block title %}Appointments - CarePoint{% endblock %}

{% block content %}
<h1>Appointments</h1>

<table class="table-container">
    <thead>
        <tr>
            <th>ID</th>
            <th>Patient</th>
            <th>Doctor</th>
            <th>Date</th>
            <th>Time</th>
            <th>Status</th>
        </tr>
    </thead>

    <tbody>
        {% for a in appointments %}
        <tr>
            <td>{{ a.id }}</td>
            <td>{{ a.patient.full_name }}</td>
            <td>{{ a.doctor_name }}</td>
            <td>{{ a.date }}</td>
            <td>{{ a.time }}</td>
            <td>{{ a.status }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}
