{% extends "base.html" %}

{% block title %}Home - CarePoint{% endblock %}

{% block content %}
<!-- HERO SECTION -->
<section id="hero">
    <p>Your health, your choice</p>
    <h1>Secure Your Doctor Visit Anytime, Anywhere</h1>
    <p>Easily schedule a medical consultation with your</p>
    <p>preferred doctor at a time that suits you best.</p>
    <button type="button">Contact Us</button>
</section>

<!-- STATS SECTION -->
<section id="stats">
    <div>
        <h2>15</h2>
        <p>Years Experience</p>
    </div>

    <div>
        <h2>100+</h2>
        <p>Expert Doctors</p>
    </div>

    <div>
        <h2>200+</h2>
        <p>Medical Staff</p>
    </div>

    <div>
        <h2>400+</h2>
        <p>Patient Capacity</p>
    </div>
</section>

<!-- SERVICES SECTION -->
<section id="services">
        <div class="horizontal-scroll-container" id="scroll-container">
            <div class="card" style="margin-left: 25px;">
                <h3>Video/Audio Calls with Doctors</h3>
                <p></p>
            </div>
            <div class="card">
                <h3>24/7 Availability</h3>
                <p></p>
            </div>
            <div class="card">
                <h3>Reminders & Notifications</h3>
                <p></p>
            </div>
            <div class="card">
                <h3>Prescription Services</h3>
                <p></p>
            </div>
        </div>
</section>

<!-- ACHIEVEMENTS SECTION -->
<section id="achievements">
    <h2>Our Achievements</h2>
    <h4>Our Numbers Speak For Themselves</h4>
</section>

<!-- PHOTOS SECTION -->
<section id="gallery">
    <img src="imgexample.jpeg" alt="Clinic Image 1">
    <img src="imgexample.jpeg" alt="Clinic Image 2">
    <img src="{{ url_for('static', filename='pictures/Doctor-removebg-preview.png') }}" alt="Doctor Image"/>
    <img src="imgexample.jpeg" alt="Clinic Image 4">
    <img src="imgexample.jpeg" alt="Clinic Image 5">
</section>

<!-- DOCTORS SECTION -->
<section id="doctors">
    <h2>Meet Expert Doctors for Better Care</h2>
    <h4>Let's Meet With Expert Doctors</h4>
    <p>Let's meet with expert doctors who are ready to provide trusted care and accurate guidance.</p>
</section>
{% endblock %}
