{% extends "base.html" %}

{% block title %}Home - CarePoint{% endblock %}

{% block content %}
<!-- HERO SECTION -->
<section id="hero">
    <p>Your health, your choice</p>
    <h1>Secure Your Doctor Visit Anytime, Anywhere</h1>
    <p>Easily schedule a medical consultation with your</p>
    <p>preferred doctor at a time that suits you best.</p>
    <button type="button">Contact Us</button>
</section>

<!-- STATS SECTION -->
<section id="stats">
    <div>
        <h2>15</h2>
        <p>Years Experience</p>
    </div>

    <div>
        <h2>100+</h2>
        <p>Expert Doctors</p>
    </div>

    <div>
        <h2>200+</h2>
        <p>Medical Staff</p>
    </div>

    <div>
        <h2>400+</h2>
        <p>Patient Capacity</p>
    </div>
</section>

<!-- SERVICES SECTION -->
<section id="services">
    <div>
        <img src="imgexample.jpeg" alt="Example Image">

        <h5>Visual Appointment</h5>
        <label>Easy to Use</label>
        <p>Give yourself at least 10–15 minutes for paperwork.</p>

        <ul>
            <li>Be Honest <button><img src="arrow.jpeg"></button></li>
            <li>Ask for Clarity <button><img src="arrow.jpeg"></button></li>
            <li>At least 10–15 minutes <button><img src="arrow.jpeg"></button></li>
        </ul>
    </div>

    <div>
        <h5>Online Services</h5>
        <button type="button">Video/Audio Calls with Doctors</button>
        <button type="button">24/7 Availability</button>
        <button type="button">Reminders & Notifications</button>
        <button type="button">Prescription Services</button>
    </div>
</section>

<!-- ACHIEVEMENTS SECTION -->
<section id="achievements">
    <h2>Our Achievements</h2>
    <h4>Our Numbers Speak For Themselves</h4>
</section>

<!-- PHOTOS SECTION -->
<section id="gallery">
    <img src="imgexample.jpeg" alt="Clinic Image 1">
    <img src="imgexample.jpeg" alt="Clinic Image 2">
    <img src="imgexample.jpeg" alt="Clinic Image 3">
    <img src="imgexample.jpeg" alt="Clinic Image 4">
    <img src="imgexample.jpeg" alt="Clinic Image 5">
</section>

<!-- DOCTORS SECTION -->
<section id="doctors">
    <h2>Meet Expert Doctors for Better Care</h2>
    <h4>Let's Meet With Expert Doctors</h4>
    <p>Let's meet with expert doctors who are ready to provide trusted care and accurate guidance.</p>
</section>
{% endblock %}
