<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>{% block title %} Patient Dashboard {% endblock %}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    {% block head %}{% endblock %}
</head>
<body>
    <header>
        <div>
            <strong>Logo</strong>
            <h3>CarePoint</h3>
            <nav>
                <a href="{{ url_for('patient_dashboard') }}">Home</a>
                <a href="{{ url_for('patient_dashboard_about') }}">About Us</a>
                <a href="{{ url_for('patient_dashboard_services') }}">Services</a>
                <a href="{{ url_for('patient_dashboard_announce') }}">Announcement</a>
                <a href="{{ url_for('home') }}"><button type="button">Logout</button></a>
            </nav>
        </div>
    </header>
    <main>
        {% block content %}{% endblock %}
    </main>
</body>
</html>
